@font-face {
  font-family: "iconfont"; /* Project id 3695024 */
  src: url('iconfont.woff2?t=1666669659537') format('woff2'),
       url('iconfont.woff?t=1666669659537') format('woff'),
       url('iconfont.ttf?t=1666669659537') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuipingdengjianju:before {
  content: "\e60f";
}

.icon-chuizhidengjianju:before {
  content: "\e610";
}

.icon-juyouduiqi:before {
  content: "\e60a";
}

.icon-shangxiajuzhongduiqi:before {
  content: "\e60b";
}

.icon-juxiaduiqi:before {
  content: "\e60c";
}

.icon-zuoyoujuzhongduiqi:before {
  content: "\e60d";
}

.icon-jushangduiqi:before {
  content: "\e60e";
}

.icon-juzuoduiqi:before {
  content: "\e608";
}

.icon-yinpin:before {
  content: "\e628";
}

.icon-shipinbofang:before {
  content: "\e600";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-web__bitebiyoujiantou:before {
  content: "\e62f";
}

.icon-web__bitebizuojiantou:before {
  content: "\e630";
}

.icon-weixuanzhongyuanquan:before {
  content: "\e603";
}

.icon-kongwujiaoxing:before {
  content: "\e62d";
}

.icon-ren:before {
  content: "\e619";
}

.icon-double-arrows:before {
  content: "\e636";
}

.icon-cubelifangti:before {
  content: "\e6fc";
}

.icon-xiaoxikuang:before {
  content: "\e67e";
}

.icon-xingzhuang-sanjiaoxing:before {
  content: "\eb99";
}

.icon-xian:before {
  content: "\ec1f";
}

.icon-wenjianjia_o:before {
  content: "\eb4f";
}

.icon-yun_o:before {
  content: "\ebb3";
}

.icon-SVG:before {
  content: "\e621";
}

.icon-GIF:before {
  content: "\e90e";
}

.icon-pentagon:before {
  content: "\e604";
}

.icon-juxing:before {
  content: "\e609";
}

.icon-program-full:before {
  content: "\e991";
}

.icon-yinshipinyunbeifen:before {
  content: "\e7b1";
}

.icon-lingxing:before {
  content: "\edda";
}

.icon-hexagon:before {
  content: "\e605";
}

.icon-doubleHorizontalArrow:before {
  content: "\e606";
}

.icon-zhuxianzuhetu:before {
  content: "\e601";
}

